testReactNative/ios/
.idea/modules.xml
.idea/
testReactNative/android/app/BUCK
testReactNative/android/app/proguard-rules.pro
testReactNative/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
testReactNative/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
testReactNative/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
testReactNative/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
testReactNative/android/app/src/main/res/values/strings.xml
testReactNative/android/app/src/main/res/values/styles.xml
testReactNative/android/gradlew
testReactNative/android/gradlew.bat
testReactNative/android/keystores/BUCK
testReactNative/index.ios.js
testReactNative/android/keystores/debug.keystore.properties
testReactNative/android/gradle/wrapper/gradle-wrapper.properties
testReactNative/android/gradle/wrapper/gradle-wrapper.jar
testReactNative/android/gradle.properties
